.carousel-img {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin-bottom: 0;
  height: inherit;
  background-color: transparent;
}

.col {
  height: inherit;
  background-color: transparent;
  padding-top: 200px;
}
