<div class="container">

  <h2 style="font-size: 30px; text-align: center; color: #989898; text-transform: capitalize;">Let's Talk</h2>
  <h3 style="padding: 0; margin: 0 0 50px 0; font-size: 20px; text-align: center;">Luxury travel design is a very intimate process.</h3>

  <div id="fm_first_name" class="input-field col s12">
    <input placeholder="First Name" id="first_name" type="text" class="validate">
    <label for="first_name">First Name</label>
  </div>

  <div id="fm_last_name" class="input-field col s12">
    <input placeholder="Last Name" id="last_name" type="text" class="validate">
    <label for="last_name">Last Name</label>
  </div>

  <div id="fm_email" class="input-field col s12">
    <input placeholder="Email" id="email" type="email" class="validate">
    <label for="email">Email</label>
  </div>

  <div id="fm_phone" class="input-field col s12">
    <input placeholder="Phone" id="phone" type="tel" class="validate">
    <label for="phone">Phone</label>
  </div>

  <div id="fm_company" class="input-field col s12">
    <input placeholder="Company" id="company" type="text" class="validate">
    <label for="company">Company</label>
  </div>

  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Preferred Class of Air Travel</label>
  </div>

  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Approx. Miles Traveled Per Year</label>
  </div>

  <div class="input-field col s12">
    <select>
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Do you travel mostly for</label>
  </div>

</div>
