.bgimg-1, .bgimg-2, .bgimg-3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 0.65;
  position: relative;
}

.bgimg-1 {
  // background-image: url("../assets/imgs/beach_47-wallpaper-1920x1200.jpg");
  height: 50%;
}
